html{
    font-family: "Times new roman", serif, sans-serif;
}

body {
    /* background-image: url("../images/zebra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
     */
     text-align: center;
     background-color: #444;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    word-spacing: 10px;
    text-transform: uppercase;
}

h1, h2, h3 {
    color: #ffffff;
    /* text-shadow: 2px 2px 5px black; */
    line-height: 1rem;
    font-style: italic;
    font-family: sans-serif;
}


h2{
    font-size: 30px;
    font-style: normal;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: #ffffff;
}

.borderimg{
    border: 2px solid red;
}


ul li{
    color: #ff0000;
    font-size: 20px;
}

ul > li {
    color: yellow;
}




